<div class="row">
		<div class="span4"><h2>Navigation Bar</h2></div>
		<div class="span8">

<div class="hero-unit"><h1>I don't know where to begin...</h1>
<p>
	It all started when I was bored.
	<%= link_to "James Turnley", "http://www.jamesturnley.com" %>
</p>
<p>
	<%= link_to "Join me today", "#", class: "btn btn-primary btn-large" %>

</p>
</div>
</div>
</div>